@{
    ViewData["Title"] = "Display";
}

    <div style= margin: auto;">
    <h3 style="text-align:center; margin-top: 40px; font-size: 50px;">The result is <b style="color:blue;">@ViewBag.result</b></h3>
    </div>

